* {
  margin: 0;
  padding: 0;
}

.layout {
  width: 1440px;
  margin: 0 auto;
}
#header {
  width: 100%;
  position: fixed;
  top: 30px;
  z-index: 10;
  color: white;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.header-child {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 1204px;
  padding: 0px 118px;
}

.logo1 {
  width: 100px;
  height: 34px;
  padding: 0px 118px;
}
.home {
  font-size: 18px;
}
.about {
  font-size: 18px;
}
.contact {
  font-size: 18px;
}
.en {
  font-size: 14px;
  display: flex;
  justify-content: center;
  color: black;
  position: absolute;
  top: 6px;
}

.enborder {
  border-radius: 9999px;
  background-color: white;
  width: 30px;
  height: 30px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  position: relative;
}
img {
  width: 100px;
  height: 34px;
}
.navi {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  height: 22px;
  width: 392px;
}
.scroll1 {
  height: 773px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-image: url(./87cef5d5d40a9f22a64d6937ad2f7df5b04e3d85.png);
  background-position: center;
  background-size: cover;
}

#pure {
  font-size: 80px;
  opacity: 0.5;
  font-family: "Bebas Neue", sans-serif;
}

#awaits {
  font-size: 250px;
  font-family: "Bebas Neue", sans-serif;
}
#year {
  font-size: 64px;
  font-family: "Hanuman", serif;
}

.scroll2 {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgba(255, 255, 255, 0.888);
  background-image: url(./Frame.png);
  align-content: center;
}

#location1 {
  font-size: 37px;
  text-align: center;
  width: 232px;
}
#location2 {
  font-size: 37px;
  text-align: center;
  width: 232px;
}
#location3 {
  font-size: 37px;
  text-align: center;
  width: 232px;
}
#location4 {
  font-size: 37px;
  text-align: center;
  width: 232px;
}

.layer-b {
  width: inherit;
  height: 100%;
  border-radius: 40px;
  background-color: black;
  opacity: 0;
  position: absolute;
}

.terhiin-tsagaan:hover .layer-b {
  opacity: 0.4;
}
.AMARBAYASGALANT:hover .layer-b {
  opacity: 0.4;
}
.KHUVSGUL:hover .layer-b {
  opacity: 0.4;
}
.KHORGIIN:hover .layer-b {
  opacity: 0.4;
}
.terhiin-tsagaan:hover .z-index {
  opacity: 0.4;
}

.terhiin-tsagaan {
  width: 275.49px;
  height: 370px;
  border-radius: 40px;
  object-fit: cover;
  gap: 10px;
  background-image: url(./hover\ card\ 3.1.png);
  background-position: center;
  background-size: cover;
  font-size: 37px;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px rgba(41, 114, 139, 0.25),
    -8px -8px rgba(31, 114, 170, 0.46);
  text-align: center;
  position: relative;
  z-index: 1;
}

.AMARBAYASGALANT {
  width: 275.49px;
  height: 370px;
  border-radius: 40px;
  object-fit: cover;
  gap: 10px;
  background-image: url(./hovercard2.png);
  background-position: center;
  background-size: cover;
  font-size: 37px;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px rgba(41, 114, 139, 0.25),
    -8px -8px rgba(31, 114, 170, 0.46);
  position: relative;
}
.KHUVSGUL {
  width: 275.49px;
  height: 370px;
  border-radius: 40px;
  object-fit: cover;
  background-image: url(./hovercard4.png);
  background-position: center;
  background-size: cover;
  font-size: 37px;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px rgba(41, 114, 139, 0.25),
    -8px -8px rgba(31, 114, 170, 0.46);
  position: relative;
}
.KHORGIIN {
  width: 275.49px;
  height: 370px;
  border-radius: 40px;
  object-fit: cover;
  background-image: url(./hovercard1.png);
  background-position: center;
  background-size: cover;
  font-size: 37px;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px rgba(41, 114, 139, 0.25),
    -8px -8px rgba(31, 114, 170, 0.46);
  position: relative;
}
.scroll3 {
  width: 100%;
  height: 1022px;
  background-image: url(./Roudmap\ container.png);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.scroll3title {
  height: 204px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  row-gap: 10px;
  padding-top: 10px;
}
.scroll3 h2 {
  font-size: 42px;
  font-weight: 600;
}
.scroll3 h4 {
  font-size: 20px;
  font-weight: 500;
  color: rgba(24, 24, 27, 0.7);
}
img {
  width: 14px;
  height: 14px;
}

.pin {
  width: 14px;
  height: 14px;
}
.h3 {
  font-size: 24px;
}
.h2 {
  font-size: 42px;
  font-family: "Inter", sans-serif;
}
h4 {
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.info h3 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
}

.info p {
  width: 68px;
  height: 15px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day {
  background-color: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#dayboxs {
  width: 513px;
  height: 640px;
  position: relative;
  left: 120px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.boxinside {
  display: flex;
  column-gap: 12px;
}
.day-box1 {
  background-color: rgba(238, 233, 217, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 9999px;
  width: 513px;
  padding: 30px;
}

.day-box1:hover {
  border: 4px solid white;
}
.day-box2:hover {
  border: 4px solid white;
}
.day-box3:hover {
  border: 4px solid white;
}
.day-box4:hover {
  border: 4px solid white;
}
.day-box5:hover {
  border: 4px solid white;
}

.pinpink {
  width: 34px;
  height: 34px;
  position: absolute;
}

.pinsuh {
  left: 832px;
  top: 60px;
}

.pinamar {
  top: 164px;
  left: 660px;
}

.pinkhor {
  top: 181px;
  left: 1045px;
}
.pinterk {
  top: 250px;
  left: 760px;
}

.pictures {
  width: 245px;
  height: 245px;
  position: absolute;
  display: none;
}

.Sukhpic {
  top: 62px;
  left: 912px;
}

.Amarpic {
  top: -72px;
  left: 760px;
}

.Khorpic {
  top: 50px;
  left: 583px;
}

.Nuurpic {
  top: 150px;
  left: 660px;
}

.Khuvspic {
  top: -130px;
  left: 560px;
}

.day-box1:hover ~ .Sukhpic {
  display: block;
}

.day-box2:hover ~ .Amarpic {
  display: block;
}
.day-box3:hover ~ .Khorpic {
  display: block;
}
.day-box4:hover ~ .Nuurpic {
  display: block;
}
.day-box5:hover ~ .Khuvspic {
  display: block;
}
.day-box2 {
  background-color: rgba(139, 184, 193, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 9999px;
  width: 513px;
  padding: 30px;
}

.day-box3 {
  background-color: rgba(170, 216, 215, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 9999px;
  width: 513px;
  padding: 30px;
}
.day-box4 {
  background-color: rgba(139, 192, 189, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 9999px;
  width: 513px;
  padding: 30px;
}
.day-box5 {
  background-color: rgba(151, 204, 224, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 9999px;
  width: 513px;
  padding: 30px;
}

.scroll4 {
  width: 1440px;
  height: 1120px;
  background-image: url(./Price.Footer.png);
  background-position: center;
  background-size: cover;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title4 {
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 40px 0px 80px;
}
.scroll4 h3 {
  font-size: 42px;
  font-family: "Inter", sans-serif;
  font-weight: 600px;
  color: rgba(0, 0, 0, 1);
}
.scroll4 h5 {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: rgba(24, 24, 27, 0.7);
}
.Budget {
  background-color: white;
  width: 384px;
  height: 527px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}
.popular {
  width: 100px;
  height: 27px;
  font-size: 16px;
  color: white;
  background-color: rgba(105, 114, 181, 1);
  font-family: "Inter", sans-serif;
  border-radius: 999px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popularlast {
  display: flex;
  justify-content: space-between;
}
.Budget:hover {
  width: 384px;
  height: 527px;
  box-shadow: 10px 10px rgba(41, 114, 139, 0.25),
    -10px -10px rgba(31, 114, 170, 0.46);
}
.selectpackage:hover {
  background-color: black;
  color: white;
}
.Budget:hover .selectpackage {
  color: white;
  background-color: black;
}
#packagecard {
  width: 384px;
  height: 92px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 24px;
  padding-top: 32px;
}
.heart {
  width: 36px;
  height: 36px;
}
#budgetline {
  width: 384px;
  height: 435px;
  padding-block: 12px 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 24px 48px;
}

.price {
  font-size: 40px;
  width: 336px;
  height: 78px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.small {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: rgba(145, 145, 145, 1);
  font-style: medium;
}

.checkboxs {
  width: 336px;
  height: 180px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.checksize {
  width: 20px;
  height: 20px;
}
.check1 {
  gap: 20px;
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: rgba(63, 65, 69, 1);
  font-size: 14px;
}
.check2 {
  gap: 20px;
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: rgba(63, 65, 69, 1);
  font-size: 14px;
}
.check3 {
  gap: 20px;
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: rgba(63, 65, 69, 1);
  font-size: 14px;
}
.check4 {
  gap: 20px;
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: rgba(63, 65, 69, 1);
  font-size: 14px;
}
.cheboxtitle {
  font-size: 18px;
  display: flex;
  gap: 10px;
  padding-right: 40px;
  padding-left: 40px;
}
.selectpackage {
  font-size: 16px;
  background-color: rgba(164, 209, 226, 1);
  width: 336px;
  height: 48px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.lastboxs {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}

.footer {
  height: 204px;
  display: flex;
  background-color: rgba(159, 198, 222, 1);
  column-gap: 20px;
  padding: 80px 120px;
}
.footericon {
  width: 1200px;
  height: 44px;
}
.border {
  display: flex;
  width: 171px;
  height: 44px;
  border-radius: 9999px;
  background-color: white;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-size: 18px;
}
.border img {
  width: 24px;
  height: 24px;
}
.logolast {
  height: 35px;
  width: 101px;
  margin-left: auto;
}

.footer p {
  color: rgba(105, 114, 181, 1);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
